html {
  height: 100%;
}
body {
  min-height: 100vh;
  background-color: rgb(241, 246, 253);
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(178, 178, 178);
  font-size: 12px;
  text-align: end;

  &:hover {
    color: rgb(52, 52, 52);
  }
}

.button-prev,
.button-next {
  background: transparent;
  box-sizing: border-box;
  padding: 10px;
  font-size: 5em;
  color: white;
  border: 0;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    /* 위에서 지정한 transform 값이 덮어씌워져서 -50% 다시 작성 */
    transform: translateY(-50%) scale(1.5);
  }
}
.button-prev {
  left: 5%;
}
.button-next {
  right: 5%;
}

.extracted {
  margin: 0;
  padding: 12px 0;
}
p.extracted::selection {
  background-color: gold;
}
p.extracted > *::selection {
  background-color: rgb(211, 211, 211);
}

.container {
  margin: 0 auto;
  width: 70%;
  min-height: 100vh;
  min-width: 720px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin: 20px 0;
  font-size: x-large;
  text-align: center;
}

.divider {
  border: 0.7px dashed rgb(202, 202, 202);
  width: 100%;
}

.translated {
  width: 100%;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 14px 0;
  height: fit-content;
}

.translated-result {
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 6px;
  border-radius: 4px;
}

.lang {
  background-color: rgb(17, 112, 255);
  color: white;
  border-radius: 4px;
  width: 12%;
  padding: 6px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  order: 1;
}

.result {
  flex: 1;
  order: 2;
  padding: 6px;
  display: flex;
  flex-direction: column;
}
.result > i {
  align-self: flex-end;
  color: rgb(191, 191, 191);
  opacity: 70%;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: rgb(52, 52, 52);
  }
}

.button-container {
  background-color: rgb(236, 236, 236);
  width: 46%;
  min-width: 250px;
  height: 30%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0px 0px 8px 2px rgb(186, 186, 186);
  margin: 10px 0;
}

.lang-select-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.select-text {
  font-size: 14px;
  margin-bottom: 4px;
}
form[name='selected-lang'] {
  width: 100%;
  display: flex;
  gap: 4px;
}
/* 언어 선택 체크박스 */
input[name='lang'] {
  display: none;
}
.lang-button {
  background-color: white;
  flex-grow: 1;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}
input[name='lang']:checked + .lang-button {
  background-color: rgb(209, 209, 209);
  box-shadow: inset 3px 3px 3px rgb(155, 155, 155);
}

.button-translate {
  display: block;
  padding: 8px;
  background-color: rgb(17, 112, 255);
  color: white;
  border-radius: 4px;
  border-style: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
  margin-top: 4px;
  width: 100%;
  font-size: 14px;

  &:hover {
    background-color: rgb(14, 97, 220);
  }
}

/* 페이지 */
.page-box {
  display: flex;
  gap: 4px;
}
