<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pdfResult.css')}}"
    />
    <title>Translator</title>
  </head>
  <body>
    <div class="container">
      <header class="title">파일 제목</header>
      <hr class="divider" />
      <main class="content">
        <div class="translated">
          <p class="translated-result"><span class="lang"></span></p>
        </div>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/getFileText.js')}}"></script>
    <script src="{{ url_for('static', filename='js/selectText.js')}}"></script>
  </body>
</html>
